<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<style> body {
    background-color: #FFE4B5;
} </style>
<h2 style="text-align: center;">Update User</h2>
<form  th:action="@{/admin/update}" method="post">
    <h4 style="text-align: center;">
        <style> input {
            background-color: #9ACD32;
        } </style>
        <input type="hidden" name="id" th:value="${user.id}"/>
        <div>
        <label for="username">First name</label>
        <input name="username" type="text" id="username" th:value="${user.username}" required/>
        </div>
        <div>
        <label for="lastname">Last name</label>
        <input name="lastname" type="text" id="lastname" th:value="${user.lastname}" required/>
        </div>
        <div>
        <label for="email">Email</label>
        <input name="email" type="text" id="email" th:value="${user.email}" required/>
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" th:value="${user.age}" required>
        </div>
        <div>
            <label for="password">Password (leave empty to keep current):</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <label>Current Role:</label>
            <span th:each="role : ${user.roles}" th:text="${role.name.substring(5)} + ' '"></span>
        </div>
        <button>Update user</button>
<!--        <input type="submit" value="Update user"/>-->
    </h4>
    <p style="text-align: center;">
        <a th:href="@{/admin}">Go to admin panel</a>
    </p>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>