<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<style> body {
    background-color: #FFE4B5;
} </style>
<h2>Update User</h2>
<form th:action="@{/admin/update}" method="post">
    <h4>
        <style> input {
            background-color: #9ACD32;
        } </style>
        <input type="hidden" name="id" th:value="${user.id}"/>
        <div>
            <label for="username">First name</label>
            <input name="username" type="text" id="username" th:value="${user.username}"/>
        </div>
        <div>
            <label for="lastname">Last name</label>
            <input name="lastname" type="text" id="lastname" th:value="${user.lastname}"/>
        </div>
        <div>
            <label for="email">Email</label>
            <input name="email" type="text" id="email" th:value="${user.email}"/>
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" th:value="${user.age}">
        </div>
        <div>
            <label for="password">Password (leave empty to keep current):</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
            <label>Current Roles:</label>
            <span th:each="role : ${user.roles}" th:text="${role.name.substring(5)} + ' '"></span>
        </div>

        <div class="form-group">
            <label for="roles">Select Roles:</label>
            <select name="roles" id="roles" multiple style="width: 200px; padding: 5px;">
                <option th:each="role : ${allRoles}"
                        th:value="${role.name}"
                        th:text="${role.name.substring(5)}"
                        th:selected="${user.roles.contains(role)}">
                </option>
            </select>
            <br>
            <br>
            <!--            <small>(Hold CTRL to select multiple)</small>-->
        </div>
        <button>Update user</button>
    </h4>
    <p>
        <a th:href="@{/admin}">Go to admin panel</a>
    </p>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>